Source: hmcfgusb
Section: unknown
Priority: extra
Maintainer: JSurf <jsurf@gmx.de>
Build-Depends: debhelper (>= 8.0.0), libusb-1.0-0-dev
Standards-Version: 3.9.2
Homepage: http://git.zerfleddert.de/cgi-bin/gitweb.cgi/hmcfgusb
#Vcs-Git: https://github.com/JSUrf/hmcfgusb.git
#Vcs-Browser: https://github.com/JSurf/hmcfgusb

Package: hmcfgusb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
